RewriteEngine On

# REWRITING URL
RewriteCond %{REQUEST_FILENAME} !-f
# It means that we apply the rule only if the file doesn't exist, if the file exists we keep going

RewriteRule ^(.*)$ /index.php [QSA,L]
# ^(.*)$ -> It means, no matter which caracters are before, we redirect to index.php
# [QSA,L] -> QSA Allows transfer the attributes which uses GET, and L means that it's the last url found