html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header  {
  height: 300px;
  color: black;
}

/* navbar */
.navbar-brand img {
  width: 50px;
  height: 50px;
}
.fa-home {
  font-size: 2em;
}

/* masterhead */
.site-heading {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
}

.main-title {
  font-size: 50px;
}

.subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Form errors */
#connectionError, #contactError, #createError, #Error, #registrationError, #updateError {
  height: auto;
}

/* Chapter list cards */
  .chapter_block {
    color: black;
  }
.chapter_block:hover {
  color: black;
  text-decoration: none;
}
.card-img-top, .card-dashboard {
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.inside_block:hover>.card-img-top, .card-dashboard:hover {
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.inside_block:hover, .card-dashboard:hover {
  background-color: lightgrey;
}

/*form buttons*/
.btn-login, .btn-register, .btn-dashboard, .btn-contact {
  margin: 3px;
}

/* chapter */
.chapter_content {
  background-color: rgba(50, 100, 200, 0.5);
  border-radius: 20px;
  padding:20px;
  color: black;
}

/* customization of dashboard buttons */
.display-button:hover {
  cursor: url(/public/images/dashboard-buttons/display.png) 15 0, auto;
}

.modify-button:hover {
  cursor: url(/public/images/dashboard-buttons/modify.png) 15 0, auto;
}

.delete-button:hover {
  cursor: url(/public/images/dashboard-buttons/delete.png) 15 0, auto;
}

.unreport-button:hover {
  cursor: url(/public/images/dashboard-buttons/unreport.png) 15 0, auto;
}

footer {
  padding: 10px;
  text-align: center; 
}
  footer p {
    margin: 0; 
  }
  footer .social-link {
    margin-left: 15px; 
  }
    footer .social-link img {
      width: 100%; 
    }
    footer .social-link img:hover {
      width: 80%; 
      transition-duration: 1s;
    }

/* Media queries for tabs */
@media all and (max-width: 985px) {
  .right-menu-homepage {
    display: flex;
    flex-direction: column;
  }
  .right-menu-homepage-btn {
    margin: 5px 0;
  }
}

/* Media queries for smartphones */
@media all and (max-width: 572px) {
  .dashboard_menu {
    display: flex;
    flex-direction: column;
  }
  /*form buttons*/
  .btn-dashboard:not(:last-child) {
    margin-bottom: 1.5em;
  }
  /*homepage navbar*/
  nav {
    display: flex;
    flex-direction: column;
  }
  .left-menu-homepage {
    margin-right: 0!important;
  }
}